body {
    background-color: darkgray;
}

h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.slideContainer {
    width: 20%;
    
}

.slider {
    position: relative;
    top: 90px;
    left: 890px;
}

.slider::after {
    content: '160';
    color: black;
    font-size: large;
    position: absolute;
    left: 120%;
}

.slider::before {
    content: '5';
    color: black;
    font-size: large;
    position: absolute;
    right: 120%;
}

p {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#boxcount {
    position: relative;    
    text-align: center;
    padding-top: 1%;
}

#blackboard {
    border: 10px solid black;
    height: 700px;
    width: 1890px;        
    text-align: center; 
    position: relative;   
}

.box {
    border: 1px solid black;  
    padding: 2px;
    margin: 2px;
    display: inline-block;
    background: bisque;
    transform: rotate(-180deg);
    color: bisque;
    position: relative;
}

#arraybox {
    height: 600px;
    width: 1840px;      
    border: 5px solid darkgrey;   
    position: relative;           
    top: 50px;
    left: 30px;
    padding-bottom: 2%;    
    transform: rotate(180deg); 
}

button {
    background-color: white; /* Green */
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 15px 32px; 
    position: relative;
    left: 5%;
    bottom: 20px;    
    margin-left: 2%;
}

