body {
    background-color: darkgray;
}

h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.slideContainer {
    width: 20%;
    
}

.slider {
    position: absolute;
    bottom: 70px;
    left: 890px;
}

.slider::after {
    content: '50';
    color: black;
    font-size: large;
    position: absolute;
    left: 120%;
}

.slider::before {
    content: '5';
    color: black;
    font-size: large;
    position: absolute;
    right: 120%;
}

p {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#boxcount {    
    text-align: center;
    padding-top: 1%;
}

#blackboard {
    border: 10px solid black;
    height: 700px;
    width: 1890px;        
    text-align: center;    
}

.box {
    border: 3px solid black;  
    padding: 5px;
    margin: 2px;
    display: inline-block;
    background: bisque;    
}

#arraybox {
    height: 600px;
    width: 1840px;      
    border: 5px solid darkgrey;   
    position: absolute;            
    bottom: 190px;
    left: 50px;
    padding-bottom: 2%;
    transform: rotate(180deg); 
}

#label {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    color: bisque;
}
    